<h2>Our Wonderful Network of Shelters</h2>

<% @shelters.each do |shelter| %>
  <ul>
    <li><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></li>
  </ul>
<% end %>
<br>
<a href="/shelters/new">Click here to add a new shelter to our list!</a>
